{% extends "email/base.html" %}

{% block body %}
<div class="greeting">
    Hi {{ username }},
</div>

<div class="intro">
    {{ intro }}
</div>

<div class="action">
    <p class="action-instructions">{{ action_instructions }}</p>
    <a href="{{ action_button_url }}" class="action-button" style="--action-btn-bg: {{ action_button_color | default('#1a73e8', true) }};">
        {{ action_button_text }}
    </a>
</div>

<div class="outro">
    {{ outro }}
</div>

<div class="outro" style="margin-top: 40px;">
    Best regards,<br>
    The Express Auth Team
</div>
{% endblock %}
